h2 {
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.pager {
    display: flex;
    gap: 1rem;
}

.detail {
    &__header {
        white-space: nowrap;
    }
}

.index {
    &__label {
        color: black;
        font-weight: 700;
    }
    &__value {
        padding: 0.25em 0.5em;
        color: black;
        &__nowrap {
            white-space: nowrap;
        }
    }
}