@charset "UTF-8";

body {
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background-color: #EFFFC6;
  color: black;
}

.container {
    margin: 20px;
}

.app_header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #DDFF7F;
    border-bottom: 1px solid gray;
}

.top {
    &__container {
        background-image: url('image/topbg.webp');
        background-size: cover;
        background-repeat: no-repeat;
        height: 460px;
    }

    &__header {
        font-size: 22px;
        color: white;
        padding-top: 20px;
        padding-left: 20px;
    }
}

.password {
    &-icon {
        height: 20px;
        width: 20px;
        position: absolute;
        margin-top: 8px;
        margin-left: -30px;
        cursor: pointer;
        z-index: 100;
        background-repeat: no-repeat;
        background-size: cover;
        border: 0px;
        background-color: transparent;
    }

    &-eye {
        background-image: url(image/eye.svg);
    }

    &-eyeslash {
        background-image: url(image/eye-slash.svg);
    }
}

