body {
    font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    background-color: #EFFFC6;
    color: black;
}

* {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.container {
    margin: 20px;
}

.app_header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #DDFF7F;
    border-bottom: 1px solid gray;
}

.top {
    &__container {
        background-image: url('image/topbg.webp');
        background-size: cover;
        background-repeat: no-repeat;
        height: 460px;
    }

    &__header {
        font-size: 22px;
        color: white;
        padding-top: 20px;
        padding-left: 20px;
    }
}



.index_notice {
    .index_notice_inner {
        width: 350px;
        margin-top: 20px;
        margin-right: 20px;
        margin-left: auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.75);
        box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
        border-radius: 6px;
    }

    .index_notice_header_wrap {
        display: flex;
        align-items: baseline;
    }

    .index_notice_publish_date {
        min-width: 96px;
        color: black;
    }

    .index_notice_header {
        flex-basis: auto;
        font-weight: 700;
        color: black;
    }

    .index_notice_content {
        flex-basis: auto;
        font-weight: 400;
        color: black;
    }


}

.avatar_preview_wrapper {
    width: 150px;
    height: 150px;
}

.edit {
    &__alert {
        color: red;
    }

    &__item {
        //display: flex;
        //align-items: center;
        //align-items: flex-start;
        //position: relative;
    }

    &__checkboxWrapper {
        display: inline-block;
        width: 360px;
    }

    &__checkbox {
        display: flex;
        flex-wrap: wrap;
    }

    &__label {
        vertical-align: top;
        width: 180px;
        white-space: nowrap;
    }

    &__checkboxItem {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        width: 120px;
        gap: 5px;
    }

    &__actArea {
        display: flex;
        gap: 5px;
        margin: 3px 0;
    }

    &__prCount {
        font-size: 14px;
    }

    &__icon {
        display: flex;
        align-self: flex-end;
        margin-left: 5px;
        margin-bottom: 2px;
    }

}

.square_plus {
    width: 20px;
    height: 20px;
    background-image: url(image/square-plus-solid.svg);
    background-repeat: no-repeat;

    &:hover {
        background-image: url(image/square-plus-solid-active.svg);
        transition: 0.3s;
    }
}

.square_minus {
    display: none;
    width: 20px;
    height: 20px;
    margin-left: 3px;
    background-image: url(image/square-minus-solid.svg);
    background-repeat: no-repeat;

    &:hover {
        background-image: url(image/square-minus-solid-active.svg);
        transition: 0.3s;
    }
}

.detail {
    &__header {
        white-space: nowrap;
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 480px;
    }
}

.password {
    &__icon {
        height: 18px;
        width: 18px;
        margin-top: 3px;
        margin-left: -24px;
        cursor: pointer;
        z-index: 100;
        background-repeat: no-repeat;
    }

    &__eye {
        background-image: url(image/eye-solid.svg);
    }

    &__eye-slash {
        background-image: url(image/eye-slash-solid.svg);
    }
}

.prefTable {
    &__card {
        margin: 1em 0;
        width: 7em;
    }

    &__header {
        line-height: 1em;
        margin-bottom: 0.5em;
        font-weight: 700;
    }

    &__value {
        line-height: 1.5em;
        margin: 0px;
    }
}